<!-- blog/templates/blog/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>الكاتب: {{ post.author }}</p>
  <a href="{% url 'post_list' %}" class="btn btn-secondary">العودة للقائمة</a>
{% endblock %}
{% for comment in comments %}
<div>
  <p>{{ comment.author.username }} - {{ comment.created_at }}</p>
  <p>{{ comment.content }}</p>
  {% if comment.author == user %}
  <a href="{% url 'comment_edit' pk=comment.id %}">Edit</a>
  <a href="{% url 'comment_delete' pk=comment.id %}">Delete</a>
  {% endif %}
</div>
{% endfor %}

<form method="POST" action="{% url 'comment_create' post_id=post.id %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Comment</button>
</form>
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>

<div>
    <h4>Tags:</h4>
    {% for tag in object.tags.all %}
        <a href="{% url 'post_list' %}?tag={{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
</div>